<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">User form</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="alert alert-warning" role="alert"
        [hidden]="!name.invalid &&
        !email.invalid &&
         !age.invalid &&
          !phone.invalid &&
           !balance.invalid &&
            !adress.invalid &&
              !about.invalid"
        >If the form fields are not valid, the changes will not be saved.
        </div>
      <!-- name -->
      <div class="form-group">
          <label for="inputName">Name</label>
          <input 
          class="form-control"
          id="inputName" 
          placeholder="Enter your name"
          [(ngModel)]="user.name"
          required
          #name="ngModel"
          >
          <span [hidden]="name.valid || name.untouched" class="span-alert">The field cannot be empty.</span>
      </div>
      <!-- email -->
      <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input 
          type="email" 
          class="form-control" 
          id="exampleInputEmail1" 
          aria-describedby="emailHelp" 
          placeholder="Enter email"
          [(ngModel)]="user.email"
          required
          email
          #email="ngModel"
          >
          <span [hidden]="email.valid || email.untouched" class="span-alert">Incorrect email.</span>
      </div>
      <!-- age -->
      <div class="form-group">
          <label for="inputAge">Age</label>
          <input 
          class="form-control" 
          id="inputAge" 
          placeholder="Enter your age"
          [(ngModel)]="user.age"
          required
          pattern="[0-9]{1,2}"
          #age="ngModel"
          >
          <span [hidden]="age.valid || age.untouched" class="span-alert">Incorrect age. Numbers only.</span>
      </div>
      <!-- phone -->
      <div class="form-group">
          <label for="inputPhone">Phone number</label>
          <input 
          class="form-control"
          id="inputPhone" 
          placeholder="Enter your phone number"
          [(ngModel)]="user.phone"
          required
          pattern="[+][0-9]{11}"
          #phone="ngModel"
          >
          <span [hidden]="phone.valid || phone.untouched" class="span-alert">Incorrect phone. Must be 11 numbers.</span>
      </div>
      <!-- balance -->
      <div class="form-group">
          <label for="inputBalance">Current balance</label>
          <input 
          class="form-control" 
          id="inputBalance" 
          placeholder="Enter your current balance"
          [(ngModel)]="user.balance"
          required
          #balance="ngModel"
          >
          <span [hidden]="balance.valid || balance.untouched" class="span-alert">The field cannot be empty.</span>
      </div>
      <!-- adress -->
      <div class="form-group">
          <label for="inputAdress">Adress</label>
          <input 
          class="form-control" 
          id="inputAdress" 
          placeholder="Enter your adress"
          [(ngModel)]="user.adress"
          required
          #adress="ngModel"
          >
          <span [hidden]="adress.valid || adress.untouched" class="span-alert">The field cannot be empty.</span>
      </div>
    <!-- textarea -->
    <div class="form-group">
          <label for="formControlTextarea">About me</label>
          <textarea 
          class="form-control" 
          id="formControlTextarea" 
          rows="3" 
          placeholder="Tell about yourself"
          [(ngModel)]="user.about"
          required
          #about="ngModel"
          ></textarea>
          <span [hidden]="about.valid || about.untouched" class="span-alert">The field cannot be empty.</span>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal"
    [disabled]="name.invalid ||
     email.invalid ||
      age.invalid ||
       phone.invalid ||
        balance.invalid ||
         adress.invalid ||
           about.invalid"
    (click)="addUser()">Save changes</button>
</div>
