<div class="container">
  <div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add new user
        </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <app-form (onAddUser)="onAddUser($event)"></app-form>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" *ngFor="let user of users | async">
                <a data-toggle="tooltip" data-placement="bottom" title="Click for detail" [routerLink]="['/detail', user.id]">{{user.name}}</a>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteUser(user.id)">Delete</button>
            </li>
          </ul>
    </div>
  </div>
</div>
