<div class="container" *ngIf="!isLoaded">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="container" *ngIf="isLoaded">
  <div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="{{user.picture}}" class="card-img-top">
            <div class="card-body">
              <span class="badge badge-pill badge-info" *ngFor="let userTag of user.tags">{{userTag}}</span>
            </div>
          </div>
    </div>
    <div class="col-8">
        <h4>{{user.name}}</h4>
        <h6 class="registered">Registered: {{date | date:"MM-dd-yyyy HH-mm"}}</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Balance: {{user.balance}}</li>
            <li class="list-group-item">Age: {{user.age}}</li>
            <li class="list-group-item">Email: {{user.email}}</li>
            <li class="list-group-item">Phone: {{user.phone}}</li>
            <li class="list-group-item">Address: {{user.address}}</li>
            <li class="list-group-item">About: {{user.about}}</li>
          </ul>
    </div>   
  </div>
  <div class="row-2">
    <div class="col">
     <button type="button" class="btn btn-outline-info" routerLink="/">Return to the list</button>
    </div>
  </div>
</div>
  


